*     {
      padding: 0; 
      margin: 0;
}
body{
      margin: 50px;
      width: 100%;
}

.premier nav{
      background-color:  rgb(37, 233, 37);
      display: flex;
      flex-wrap:wrap;
      justify-content:space-between;
      height:70px;
      align-items: center;    
}
  /* ICONES */
nav .icone, .icones{
      display: flex;
      flex-wrap:wrap;
      color: aliceblue;
      margin-right: 50px;
}

header a:hover{
      color:rgb(37, 233, 37);
      border-bottom: 3px solid white;
     }

.banner {
       font-size: 1.9em;
}

.banner p{
       color: white;
}
  
  
i   {
       margin-right: 18px;
}

.icone{
      margin-left: 70px;
      font-size: larger;         
}
  
.premier{
      position: sticky;
      top: 0;
}
  
.icone p{
      margin-left: 40px;
      color: white;
}

.icones p{
      color: white;
}

  /* HEADER */
  
header{
      background-image: url("image/page-heading-bg\ \(3\).jpg");
      height: 600px;;
      color: aliceblue;
      padding-top: 10px;
      background-attachment: fixed;
}

header .container{
       padding: 30px;          
}

.container .onglets a{
      color: white;
      font-size: bold;
      margin-right: 50px;
      font-size: xx-large;
}

.container h2 {
      padding-top:200px;
      margin-left:710px;
      font-size: 2em;
}
 
.header b {
      color: rgb(6, 108, 6);
      font-size: larger;
 }
  
.z1   {
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between; 
      align-items: center;   
      background-color: rgb(37, 233, 37);
      height: 200px;
      padding: 30px;
}
  
.z2 h1{
      font-size: 3em;
      margin-bottom: 30px;    
}

.z2 p{
      font-size: 2em;
      color: aliceblue;
}     
   
.z5  {
      height: 10%;
      height: 50px;
}

 /* SERVICE FINANCE */
  
.contact nav li{
      border-style:groove; width: 100%;
      border-radius: 20px; 
}
          
.contact nav{
      color: aliceblue;
}
  
.contact a{
      text-decoration: none;
}
    
.aliquam p{
      text-align: center;
      margin: 20px;
      font-size: 2em;
      color: black;
}  
  
.image{
      display: flex;
      flex-wrap:wrap;
      justify-content:space-around; 
}
.imag{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-evenly;
      margin-bottom: 150px;
      padding: 70px;
}

.servicefinance{
      text-align: center;
      margin: 10px;padding: 5px;
      font-size: 3em;
}
.servicefinance h1{
      color:  rgb(37, 233, 37) ;
  
}

.servicefinance b{
      color: black;
      padding-left: 5px;
}
  
.service{
      background-color: rgb(216, 222, 222);
      height: 105%;
      text-align: center;
      font-size: large;
}

.dictum button{
      background-color: rgb(37, 233, 37);
      width: 40%;
      border-radius: 50px;
      padding: 15px;
      color: white;
      font-size: large;
     
}

.header h3{
      padding-top: 40px;
}

.dictum p{
      color: rgb(7, 70, 95);
      font-size: 1.9em;
}
  
h3   {
      margin-bottom: 7px;
}

p    {
      margin-bottom: 5px;
  }

.z1 button{
      background-color: rgb(37, 233, 37);
      width: 15%;
      border-radius: 50px;
      padding: 15px;
      color: white;
      font-size: large;
  
}

a {
      text-decoration: none;
      color: aliceblue;
}

h1 b{
      color:  rgb(37, 233, 37);
        
}
.dolor{
      background-color: rgb(8, 8, 27);
      height: 1020px;
            
}

.dolor button{
      height: 30px; 
      width: 130px;
      
}

.dolor{
      margin-bottom: 200px;    
        
}

.s1{
      padding: 30px;
}
  
h1{
       color: aliceblue;
}

p  {
      color: aliceblue;
}
  
.chiffre b{
      color: aliceblue;
}
  
.chiffre i{
      color: rgb(37, 233, 37);
  
}

.chiffre{
      background-color: rgb(27, 27, 85);
      width: 11%;
      height: 70px;
      text-align:center;
  
}

.orange{
      background-color: rgb(27, 27, 85);
      width: 11%;
      height:70px;
      text-align:center;
  
}

.orange i{
      color: rgb(37, 233, 37);
}

.blanc{
      background-color: rgb(27, 27, 85);
      width: 15%;
      height: 200px;
      text-align:center;
}

.blanc i{
      color: rgb(37, 233, 37);
}

.vert{
      background-color: rgb(27, 27, 85);
      width: 15%;
      height: 200px;
      text-align:center;
}

.vert i{
      color:  rgb(37, 233, 37);
      
}

.tout{
       align-items: center;
}
  
.photo{
       margin-bottom: 500px;
}
  
  
.jeune{
      background-color: aliceblue;
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      padding-bottom:30px;
      height: 1000px;
      margin-right:100px;
      margin-left:120px ;
      font-size: 20px;
      padding-left: 40px;
      margin-top:220px;
      
}
.jeune span{
      color:  rgb(37, 233, 37);
}
.jeune h1{
      color: black;
}
.gauche p{
      color: black;
      font-family:"Elephant sans-serif";
      font-size: 1em;
}

.gauche{
      align-items: center;
      padding-right: 300px;
      margin-top: 30px;
      font-size: larger;
}
.jeune button{
      margin-top: 50px;
      padding: 15px;
      width: 55%;
      border-radius: 50px;
      background-color:  rgb(37, 233, 37);
      text-align: center;
      font-size: large  
}
.jeune img{
      width: 750px;
      height:600px;
      
}

.volume{
      background-color:  rgb(222, 238, 244);
      height: 1400px;
      text-align: center;
      margin-top: 300px;
}

.volume1 b{
      color: rgb(37, 233, 37);
}
.volume1 h1, p{
      color: black;
}
.volume1 h1{
      font-size: large
}
.volume3{
      width: 700px;
      height: 350px;
      background-color: whitesmoke;
      padding-left: 20px;
      margin-bottom: 60px;
      font-size: 1.3em;
      border-radius: 10px 10px 10px 10px;
      margin-top: 200px;
}
.volume4{
      width: 700px;
      height: 300px;
      background-color: whitesmoke;
      padding-left: 20;
      margin-bottom: 60px;
      font-size:large ;
      border-radius: 10px 10px 10px 10px;
      margin-top: 300px;
}
.volume1 {
      font-size: 3em;
      padding: 30px;

}
.volume1 h1{
      font-size: 2em;
      margin-bottom: 20px;
}
.container{
      display: flex; 
      flex-wrap:wrap;
      justify-content: space-evenly;
      margin: 30px;

      
}
.containe2 span {
      color:rgb(37, 233, 37);   
}
.volume3{
      color: rgb(37, 233, 37);
      padding: 20px;
}

.bonheur{
      height: 1200px;
      background-color: rgb(222, 238, 244);
      margin-top: 300px;
      text-align: center;
}
.bonheur1 h1{
      color: black;
      font-size: 3em;
}
.bonheur1 {
      font-size:1.4em;
      padding: 20px;
}
.bonheur2{
      background-color:  rgb(37, 233, 37);
      height: 700px;
      width: 1500px;
      margin-left: 400px;
      margin-top:100px ;
      
}
.bonheur2 .b1{
      border-radius: 0px 0px 0px 0px,
}
.bonheur2 button{
      width: 400px;
      color: black;
}
.container3{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      flex-direction: column;
}
.container2{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      background-image: url(image/fun-facts-bg1.jpg);
      height:700px ;
      padding: 80px;
      margin-top: 90px;
}
.containe2{
      color: white;
}
.containe2 h1{
      max-width: 320px;
      font-size: 2em;
      margin-top: 20px;
}
span{
      color: white;
}
.containe2 p{
      margin-top: 20px;
      color: white;
}

.containe2 button{
      margin-top: 50px;
      padding: 20px;
      width: 55%;
      border-radius: 50px;
      background-color:  rgb(37, 233, 37);
      text-align: center;
      font-size: 1.5em
}

.bonheur2 button{
      padding: 10px 30px 10px 30px;
      border-radius: 50px;
      border: none;
      margin-top: 20px;
      background-color: white;
      height: 60px;
      color:black;
      font-size: large;
}
.sous-container1{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-evenly;
}
.sous-container2{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-evenly; 
}
      
.sous p, .h1{
      text-align: center;
      color: white;
      font-size: 1.2em;
      padding-top: 20px;
}
.sous{
      width: 400px;
      height: 200px;
      background-color: #3f3f3f;
      margin-right: 50px;
      
}

.sous span{
      color: rgb(37, 233, 37);
}
.sous-container1{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-evenly;
      margin-bottom: 20px;
}
form{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      
}
.zalika input{
      padding: 20px;
      padding-right: 10%;
      border-radius: 50px;
      margin-top: 50px;
      font-size: 1.5em;     
}

.bonheur2 textarea{
      margin-top: 50px;
      font-size: 2em; 
      padding-left: 20px; 
      padding: 20px;
      border-radius: 20px;
}

.bonheur2 button{
      margin-top: 60px;
      margin-left: 500px;  
 }
      
.logo{
      background-color: rgb(222, 238, 244);
      margin-top: 220px;
      height: 300px;
      font-size: 2em;
      color: #3f3f3f;
      display: flex;
}
.danslogo img{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-around;
      
}

.fondnoir{
      background-color: black;
      height: 900px;


}
.dansfondnoir p {
      color: white;
      margin-left: 30px;
      margin-top: 30px;
      font-size: x-large;
}

.dansfondnoir h1{
      margin-left: 30px;
      padding-top: 70px;
      font-size: 1.8em;
}

.ikone div{
      background-color:rgb(247, 243, 243);
      width: 50px; 
      height: 50px; 
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      cursor: pointer;

}

.f{
      margin: 10px;
      border-radius: 50px;

}
.f p {
      display: inline;
      flex-wrap:wrap;
      color: black;
}

.ikone{
      display: flex;
      flex-wrap:wrap;
      margin-top: 50px;     
}

form{
      display: flex;
      flex-wrap:wrap;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
}
.danscontacter input{
      padding: 20px;
      padding-right: 10px;
      border-radius: 50px;
      margin-top: 20px;
      font-size: 1.5em;      
}

.nouscontacter textarea{
      margin-top: 50px;
      font-size: 2em;
      width: 500px;
      height: 300px;
      padding-left: 20px;
      padding: 20px;
      border-radius: 20px;
      margin-left: 70px;

}

.nouscontacter button{
      padding: 27px;
      width: 40%;
      margin-left: 250px;
      border-radius: 30px;
      font-size:2em;
      background-color: rgb(37, 233, 37);
      cursor: pointer;
      color: white;
}
.nouscontacter h1{
      margin-left: 250px;
}

.dansfondnoir{
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      padding: 90px;
      padding-top: 180px;
      
}
footer{
      background-color: #454545;
      height: 150px;
      font-size: 2em;
      text-align: center;
      color: white;
      padding: 40px;
}